.main-content {
    margin: 0px 15%;
}

.space {
    margin-top: 200px;
}

.content-heading {
    font-family: Circular-Bold;
    font-size: 40px;
}

.bold-font {
    font-family: Circular-Black;
}

/* Laptop */
@media screen and (min-width: 1280px) and (max-width: 1440px) {

    .main-content {
        margin: 0px 10%; 
    }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {

    .main-content {
        margin: 0px 5%;
    }

}

/* Mobile */
@media screen and (max-width: 767px) {

    .main-content {
        margin: 0px 5%;
    }
    
}